body {
  width: 1400px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.87);
}
.header {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  height: auto;
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.header img {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 50px;
}
.header .titulo {
  font-family: 'Michroma', sans-serif;
  font-size: 40px;
  color: #6a207e;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 40px;
  font-weight: bold;
  text-shadow: 1px 2px 3px rgba(90, 101, 101, 0.8);
}
.nameweb {
  font-family: sans-serif;
  font-size: 55px;
  color: #ffb004;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  font-weight: bold;
  text-overflow: clip;
  text-shadow: 2px 3px 4px rgb(201, 201, 201);
}
ul.nav li a {
  -webkit-transition: all 0.3s ease-out;
  background: #929292;
  color: #fff;
  padding: 7px 15px 7px 15px;
  width: 200px;
  display: block;
  text-decoration: none;
  box-shadow: 2px 3px 5px #5a6565;
}
ul.nav li a:hover {
  background: #4d4d4d;
  color: #fff;
  padding: 7px 15px 7px 30px;
}
.contentpag {
  height: auto;
  width: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-bottom: auto;
  background-color: rgba(253, 162, 77, 0.76);
}
.content {
  width: auto;
  height: auto;
  float: right;
  background-color: rgba(253, 162, 77, 0.76);
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-bottom: auto;
}
.limpieza {
  clear: both;
}
.pie {
  text-align: center;
  color: #8b8b8b;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 1400px;
  background-color: rgba(0, 0, 0, 0.726);
  height: 50px;
  float: right;
  padding-top: 10px;
}
.pie .enlaces {
  padding-top: 15px;
  font-family: 'Michroma', sans-serif;
  font-size: 11px;
  text-transform: capitalize;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}
.pie .enlaces a {
  color: #f0f0f0;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
}
.pie .enlaces a:hover {
  color: #f0f0f0;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}
.image_iz {
  display: inline-block;
  line-height: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 4px solid #fffdfd;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.image_der {
  display: inline-block;
  line-height: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 4px solid #fffdfd;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
section {
  display: none;
  margin: 2em;
}
section.active {
  display: block;
}
nav {
  background-color: #000000;
  color: white;
  padding: 1em;
  text-align: center;
}
nav a {
  color: #f0f0f0;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
}
nav a:hover {
  color: #f0f0f0;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}
p {
  font-size: 16px;
  margin: 6px;
  line-height: 2.7;
  color: #000000;
}
ul {
  display: block;
  list-style: none;
}
li {
  font-size: 16px;
  line-height: 2.7;
}
