body {
  width: 1400px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.726);
  background-image: url(img/bg.png);
  background-repeat: repeat;
}
.header {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  height: 180px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.726);
}
.header img {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 50px;
}
.header .titulo {
  font-family: 'Michroma', sans-serif;
  font-size: 40px;
  color: #6a207e;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  font-weight: bold;
  text-shadow: 1px 2px 3px rgba(90, 101, 101, 0.8);
}
.nameweb {
  font-family: sans-serif;
  font-size: 55px;
  color: #ffb004d5;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  font-weight: bold;
  text-shadow: 1px 2px 3px rgba(6, 26, 202, 0.863);
}
.main {
  background-color: rgba(0, 0, 0, 0.726);
  float: left;
  height: 1500px;
  width: 300px;
}
.navbox {
  font-weight: bold;
  float: left;
  height: 260px;
  margin: 0px;
  padding: 0px;
  background: rgba(0, 0, 0, 0.726);
  font-size: 12px;
  background-image: url(img/bg.png);
  background-repeat: repeat;
}
ul.nav {
  list-style: none;
  display: block;
  width: 200px;
  padding: 25px 0 15px 0;
}
ul {
  list-style: none;
  display: block;
}
li {
  margin: 6px 0 0 0;
}
ul.nav li a {
  -webkit-transition: all 0.3s ease-out;
  background: #929292;
  color: #fff;
  padding: 7px 15px 7px 15px;
  width: 200px;
  display: block;
  text-decoration: none;
  box-shadow: 2px 3px 5px #5a6565;
}
ul.nav li a:hover {
  background: #4d4d4d;
  color: #fff;
  padding: 7px 15px 7px 30px;
}
.contentpag {
  height: auto;
  width: 1400px;
  padding: 0px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.726);
}
.content {
  width: 1050px;
  padding-right: 40px;
  padding-left: 10px;
  height: auto;
  float: right;
  background-color: rgba(0, 0, 0, 0.726);
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 25px;
}
.limpieza {
  clear: both;
}
.pie {
  text-align: center;
  color: #8b8b8b;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 1400px;
  background-color: rgba(0, 0, 0, 0.726);
  height: 50px;
  float: right;
  padding-top: 10px;
}
.pie .enlaces {
  padding-top: 15px;
  font-family: 'Michroma', sans-serif;
  font-size: 11px;
  text-transform: capitalize;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}
.pie .enlaces a {
  color: #f0f0f0;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
}
.pie .enlaces a:hover {
  color: #f0f0f0;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}
